
	<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 0 0" width="0" height="0" focusable="false" role="none"
	style="visibility: hidden; position: absolute; left: -9999px; overflow: hidden;">
	<defs>
		<filter id="wp-duotone-dark-grayscale">
			<feColorMatrix color-interpolation-filters="sRGB" type="matrix"
				values=" .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 " />
			<feComponentTransfer color-interpolation-filters="sRGB">
				<feFuncR type="table" tableValues="0 0.49803921568627" />
				<feFuncG type="table" tableValues="0 0.49803921568627" />
				<feFuncB type="table" tableValues="0 0.49803921568627" />
				<feFuncA type="table" tableValues="1 1" />
			</feComponentTransfer>
			<feComposite in2="SourceGraphic" operator="in" />
		</filter>
	</defs>
</svg><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 0 0" width="0" height="0" focusable="false" role="none"
	style="visibility: hidden; position: absolute; left: -9999px; overflow: hidden;">
	<defs>
		<filter id="wp-duotone-grayscale">
			<feColorMatrix color-interpolation-filters="sRGB" type="matrix"
				values=" .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 " />
			<feComponentTransfer color-interpolation-filters="sRGB">
				<feFuncR type="table" tableValues="0 1" />
				<feFuncG type="table" tableValues="0 1" />
				<feFuncB type="table" tableValues="0 1" />
				<feFuncA type="table" tableValues="1 1" />
			</feComponentTransfer>
			<feComposite in2="SourceGraphic" operator="in" />
		</filter>
	</defs>
</svg><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 0 0" width="0" height="0" focusable="false" role="none"
	style="visibility: hidden; position: absolute; left: -9999px; overflow: hidden;">
	<defs>
		<filter id="wp-duotone-purple-yellow">
			<feColorMatrix color-interpolation-filters="sRGB" type="matrix"
				values=" .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 " />
			<feComponentTransfer color-interpolation-filters="sRGB">
				<feFuncR type="table" tableValues="0.54901960784314 0.98823529411765" />
				<feFuncG type="table" tableValues="0 1" />
				<feFuncB type="table" tableValues="0.71764705882353 0.25490196078431" />
				<feFuncA type="table" tableValues="1 1" />
			</feComponentTransfer>
			<feComposite in2="SourceGraphic" operator="in" />
		</filter>
	</defs>
</svg><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 0 0" width="0" height="0" focusable="false" role="none"
	style="visibility: hidden; position: absolute; left: -9999px; overflow: hidden;">
	<defs>
		<filter id="wp-duotone-blue-red">
			<feColorMatrix color-interpolation-filters="sRGB" type="matrix"
				values=" .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 " />
			<feComponentTransfer color-interpolation-filters="sRGB">
				<feFuncR type="table" tableValues="0 1" />
				<feFuncG type="table" tableValues="0 0.27843137254902" />
				<feFuncB type="table" tableValues="0.5921568627451 0.27843137254902" />
				<feFuncA type="table" tableValues="1 1" />
			</feComponentTransfer>
			<feComposite in2="SourceGraphic" operator="in" />
		</filter>
	</defs>
</svg><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 0 0" width="0" height="0" focusable="false" role="none"
	style="visibility: hidden; position: absolute; left: -9999px; overflow: hidden;">
	<defs>
		<filter id="wp-duotone-midnight">
			<feColorMatrix color-interpolation-filters="sRGB" type="matrix"
				values=" .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 " />
			<feComponentTransfer color-interpolation-filters="sRGB">
				<feFuncR type="table" tableValues="0 0" />
				<feFuncG type="table" tableValues="0 0.64705882352941" />
				<feFuncB type="table" tableValues="0 1" />
				<feFuncA type="table" tableValues="1 1" />
			</feComponentTransfer>
			<feComposite in2="SourceGraphic" operator="in" />
		</filter>
	</defs>
</svg><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 0 0" width="0" height="0" focusable="false" role="none"
	style="visibility: hidden; position: absolute; left: -9999px; overflow: hidden;">
	<defs>
		<filter id="wp-duotone-magenta-yellow">
			<feColorMatrix color-interpolation-filters="sRGB" type="matrix"
				values=" .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 " />
			<feComponentTransfer color-interpolation-filters="sRGB">
				<feFuncR type="table" tableValues="0.78039215686275 1" />
				<feFuncG type="table" tableValues="0 0.94901960784314" />
				<feFuncB type="table" tableValues="0.35294117647059 0.47058823529412" />
				<feFuncA type="table" tableValues="1 1" />
			</feComponentTransfer>
			<feComposite in2="SourceGraphic" operator="in" />
		</filter>
	</defs>
</svg><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 0 0" width="0" height="0" focusable="false" role="none"
	style="visibility: hidden; position: absolute; left: -9999px; overflow: hidden;">
	<defs>
		<filter id="wp-duotone-purple-green">
			<feColorMatrix color-interpolation-filters="sRGB" type="matrix"
				values=" .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 " />
			<feComponentTransfer color-interpolation-filters="sRGB">
				<feFuncR type="table" tableValues="0.65098039215686 0.40392156862745" />
				<feFuncG type="table" tableValues="0 1" />
				<feFuncB type="table" tableValues="0.44705882352941 0.4" />
				<feFuncA type="table" tableValues="1 1" />
			</feComponentTransfer>
			<feComposite in2="SourceGraphic" operator="in" />
		</filter>
	</defs>
</svg><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 0 0" width="0" height="0" focusable="false" role="none"
	style="visibility: hidden; position: absolute; left: -9999px; overflow: hidden;">
	<defs>
		<filter id="wp-duotone-blue-orange">
			<feColorMatrix color-interpolation-filters="sRGB" type="matrix"
				values=" .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 " />
			<feComponentTransfer color-interpolation-filters="sRGB">
				<feFuncR type="table" tableValues="0.098039215686275 1" />
				<feFuncG type="table" tableValues="0 0.66274509803922" />
				<feFuncB type="table" tableValues="0.84705882352941 0.41960784313725" />
				<feFuncA type="table" tableValues="1 1" />
			</feComponentTransfer>
			<feComposite in2="SourceGraphic" operator="in" />
		</filter>
	</defs>
</svg>
<div data-elementor-type="header" data-elementor-id="719" class="elementor elementor-719 elementor-location-header">
	<div class="elementor-section-wrap">
		<section
			class="elementor-section elementor-top-section elementor-element elementor-element-7e15938 elementor-section-full_width elementor-section-content-middle elementor-section-height-default elementor-section-height-default"
			data-id="7e15938" data-element_type="section"
			data-settings="{&quot;_ob_glider_is_slider&quot;:&quot;no&quot;}">
			<div class="elementor-container elementor-column-gap-default">
				<div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-a4eb345"
					data-id="a4eb345" data-element_type="column"
					data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;_ob_bbad_is_stalker&quot;:&quot;no&quot;,&quot;_ob_teleporter_use&quot;:false,&quot;_ob_column_hoveranimator&quot;:&quot;no&quot;,&quot;_ob_column_has_pseudo&quot;:&quot;no&quot;}">
					<div class="elementor-widget-wrap elementor-element-populated">
						<div class="elementor-element elementor-element-86495c7 ob-has-background-overlay elementor-widget elementor-widget-image"
							data-id="86495c7" data-element_type="widget"
							data-settings="{&quot;_ob_photomorph_use&quot;:&quot;no&quot;,&quot;_ob_perspektive_use&quot;:&quot;no&quot;,&quot;_ob_poopart_use&quot;:&quot;yes&quot;,&quot;_ob_shadough_use&quot;:&quot;no&quot;,&quot;_ob_allow_hoveranimator&quot;:&quot;no&quot;,&quot;_ob_widget_stalker_use&quot;:&quot;no&quot;}"
							data-widget_type="image.default">
						<a href=""><div class="elementor-widget-container">
							<img width="395" height="144"
								src="assets/eunoia/wp-content/uploads/sites/18/2021/03/Logo-eunoia.png"
								class="attachment-full size-full" alt="" loading="lazy"
								sizes="(max-width: 395px) 100vw, 395px" />
						</div></a>
						</div>
					</div>
				</div>
				<div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-bd74cf1"
					data-id="bd74cf1" data-element_type="column"
					data-settings="{&quot;_ob_bbad_is_stalker&quot;:&quot;no&quot;,&quot;_ob_teleporter_use&quot;:false,&quot;_ob_column_hoveranimator&quot;:&quot;no&quot;,&quot;_ob_column_has_pseudo&quot;:&quot;no&quot;}">
					<div class="elementor-widget-wrap elementor-element-populated">
						<div class="elementor-element elementor-element-e8314b7 elementor-nav-menu__align-center elementor-nav-menu--indicator-angle elementor-nav-menu--stretch elementor-nav-menu--dropdown-tablet elementor-nav-menu__text-align-aside elementor-nav-menu--toggle elementor-nav-menu--burger ob-has-background-overlay elementor-widget elementor-widget-nav-menu"
							data-id="e8314b7" data-element_type="widget"
							data-settings="{&quot;full_width&quot;:&quot;stretch&quot;,&quot;layout&quot;:&quot;horizontal&quot;,&quot;toggle&quot;:&quot;burger&quot;,&quot;_ob_perspektive_use&quot;:&quot;no&quot;,&quot;_ob_poopart_use&quot;:&quot;yes&quot;,&quot;_ob_shadough_use&quot;:&quot;no&quot;,&quot;_ob_allow_hoveranimator&quot;:&quot;no&quot;,&quot;_ob_widget_stalker_use&quot;:&quot;no&quot;}"
							data-widget_type="nav-menu.default">
							<div class="elementor-widget-container">
								<nav role="navigation"
									class="elementor-nav-menu--main elementor-nav-menu__container elementor-nav-menu--layout-horizontal e--pointer-none">
									<ul id="menu-1-e8314b7" class="elementor-nav-menu">
										<li
											class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item menu-item-695">
											<a href="" aria-current="page"
												class="elementor-item elementor-item-active">Home</a></li>
										<li
											class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-697">
											<a href="about" class="elementor-item">About Us</a>
											
										</li>
										<li
											class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-708">
											<a href="team" class="elementor-item elementor-item-anchor">Team</a>
											
										</li>
										<li
											class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-699">
											<a href="service" class="elementor-item">Service</a>
											
										</li>
										<li
											class="menu-item menu-item-type-custom menu-item-object-custom menu-item-701">
											<a href="contact" class="elementor-item">Contact</a></li>
										
									</ul>
								</nav>
								<div class="elementor-menu-toggle" role="button" tabindex="0"
									aria-label="Menu Toggle" aria-expanded="false">
									<i class="eicon-menu-bar" aria-hidden="true"></i>
									<span class="elementor-screen-only">Menu</span>
								</div>
								<nav class="elementor-nav-menu--dropdown elementor-nav-menu__container"
									role="navigation" aria-hidden="true">
									<ul id="menu-2-e8314b7" class="elementor-nav-menu">
										<li
											class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item menu-item-695">
											<a href="index.html" aria-current="page"
												class="elementor-item elementor-item-active">Home</a></li>
										<li
											class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-697">
											<a href="about-us/index.html" class="elementor-item">About Us</a>
											<ul class="sub-menu elementor-nav-menu--dropdown">
												<li
													class="menu-item menu-item-type-custom menu-item-object-custom menu-item-698">
													<a href="our-team/index.html" class="elementor-sub-item">Our
														Team</a></li>
											</ul>
										</li>
										<li
											class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-699">
											<a href="service/index.html" class="elementor-item">Service</a>
											<ul class="sub-menu elementor-nav-menu--dropdown">
												<li
													class="menu-item menu-item-type-custom menu-item-object-custom menu-item-700">
													<a href="single-service/index.html"
														class="elementor-sub-item">Single Service</a></li>
												<li
													class="menu-item menu-item-type-custom menu-item-object-custom menu-item-706">
													<a href="pricing/index.html"
														class="elementor-sub-item">Pricing</a></li>
												<li
													class="menu-item menu-item-type-custom menu-item-object-custom menu-item-707">
													<a href="portfolio/index.html"
														class="elementor-sub-item">Portfolio</a></li>
											</ul>
										</li>
										<li
											class="menu-item menu-item-type-custom menu-item-object-custom menu-item-701">
											<a href="contact/index.html" class="elementor-item">Contact</a></li>
										<li
											class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-708">
											<a href="#" class="elementor-item elementor-item-anchor">Page</a>
											<ul class="sub-menu elementor-nav-menu--dropdown">
												<li
													class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-702">
													<a href="blog/index.html" class="elementor-sub-item">Blog</a>
													<ul class="sub-menu elementor-nav-menu--dropdown">
														<li
															class="menu-item menu-item-type-custom menu-item-object-custom menu-item-703">
															<a href="/assets/eunoia/index9477.html?elementor_library=eunoia-v1-archive"
																class="elementor-sub-item">Archive</a></li>
														<li
															class="menu-item menu-item-type-custom menu-item-object-custom menu-item-704">
															<a href="/assets/eunoia/2021/02/01/what-platforms-does-social-media-management-cover/index.html"
																class="elementor-sub-item">Single Post</a></li>
													</ul>
												</li>
												<li
													class="menu-item menu-item-type-custom menu-item-object-custom menu-item-705">
													<a href="assets/eunoia/indexe40c.html?elementor_library=eunoia-v1-error-404"
														class="elementor-sub-item">Error 404</a></li>
											</ul>
										</li>
									</ul>
								</nav>
							</div>
						</div>
					</div>
				</div>
				<div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-6ab6993 elementor-hidden-phone"
					data-id="6ab6993" data-element_type="column"
					data-settings="{&quot;_ob_bbad_is_stalker&quot;:&quot;no&quot;,&quot;_ob_teleporter_use&quot;:false,&quot;_ob_column_hoveranimator&quot;:&quot;no&quot;,&quot;_ob_column_has_pseudo&quot;:&quot;no&quot;}">
					<div class="elementor-widget-wrap elementor-element-populated">
						<div class="elementor-element elementor-element-f69f994 elementor-align-right ob-has-background-overlay elementor-widget elementor-widget-button"
							data-id="f69f994" data-element_type="widget"
							data-settings="{&quot;_ob_butterbutton_use_it&quot;:&quot;no&quot;,&quot;_ob_perspektive_use&quot;:&quot;no&quot;,&quot;_ob_poopart_use&quot;:&quot;yes&quot;,&quot;_ob_shadough_use&quot;:&quot;no&quot;,&quot;_ob_allow_hoveranimator&quot;:&quot;no&quot;,&quot;_ob_widget_stalker_use&quot;:&quot;no&quot;}"
							data-widget_type="button.default">
							<div class="elementor-widget-container">
								<div class="elementor-button-wrapper">
									<a href="#" class="elementor-button-link elementor-button elementor-size-md"
										role="button">
										<span class="elementor-button-content-wrapper">
											<span class="elementor-button-text">Get Started</span>
										</span>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
</div>
<div class="loader" *ngIf="showloader">
	<img width="150px" class="pb-2" src="assets/eunoia/wp-content/uploads/sites/18/2021/03/Logo-eunoia.png" alt="">
	<div class="spinner-border " role="status">
		<span class="visually-hidden">Loading...</span>
	  </div>
</div>