
<body class="envato_tk_templates-template envato_tk_templates-template-elementor_header_footer single single-envato_tk_templates postid-920 elementor-default elementor-template-full-width elementor-kit-3 elementor-page elementor-page-920">
    <app-header></app-header>
    <br> <br> <br><br>
				<div data-elementor-type="wp-post" data-elementor-id="920" class="elementor elementor-920">
									<section class="ob-is-breaking-bad elementor-section elementor-top-section elementor-element elementor-element-c9dbcd0 elementor-section-content-middle elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="c9dbcd0" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;gradient&quot;,&quot;_ob_bbad_use_it&quot;:&quot;yes&quot;,&quot;_ob_bbad_sssic_use&quot;:&quot;no&quot;,&quot;_ob_glider_is_slider&quot;:&quot;no&quot;}">
							<div class="elementor-background-overlay"></div>
							<div class="elementor-container elementor-column-gap-default">
							</div>
		</section>
				<section class="ob-is-breaking-bad elementor-section elementor-top-section elementor-element elementor-element-09dcbac elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="09dcbac" data-element_type="section" data-settings="{&quot;_ob_bbad_use_it&quot;:&quot;yes&quot;,&quot;_ob_bbad_sssic_use&quot;:&quot;no&quot;,&quot;_ob_glider_is_slider&quot;:&quot;no&quot;}">
						<div class="elementor-container elementor-column-gap-default">
					<div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-d364973 elementor-invisible" data-id="d364973" data-element_type="column" data-settings="{&quot;animation&quot;:&quot;fadeInLeft&quot;,&quot;_ob_bbad_is_stalker&quot;:&quot;no&quot;,&quot;_ob_teleporter_use&quot;:false,&quot;_ob_column_hoveranimator&quot;:&quot;no&quot;,&quot;_ob_column_has_pseudo&quot;:&quot;no&quot;}">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-a2caf95 ob-harakiri-inherit ob-has-background-overlay elementor-widget elementor-widget-heading" data-id="a2caf95" data-element_type="widget" data-settings="{&quot;_ob_harakiri_writing_mode&quot;:&quot;inherit&quot;,&quot;_ob_perspektive_use&quot;:&quot;no&quot;,&quot;_ob_poopart_use&quot;:&quot;yes&quot;,&quot;_ob_shadough_use&quot;:&quot;no&quot;,&quot;_ob_allow_hoveranimator&quot;:&quot;no&quot;,&quot;_ob_widget_stalker_use&quot;:&quot;no&quot;}" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h6 class="elementor-heading-title elementor-size-default">About Team</h6>		</div>
				</div>
				<div class="elementor-element elementor-element-2202fb3 ob-harakiri-inherit ob-has-background-overlay elementor-widget elementor-widget-heading" data-id="2202fb3" data-element_type="widget" data-settings="{&quot;_ob_harakiri_writing_mode&quot;:&quot;inherit&quot;,&quot;_ob_perspektive_use&quot;:&quot;no&quot;,&quot;_ob_poopart_use&quot;:&quot;yes&quot;,&quot;_ob_shadough_use&quot;:&quot;no&quot;,&quot;_ob_allow_hoveranimator&quot;:&quot;no&quot;,&quot;_ob_widget_stalker_use&quot;:&quot;no&quot;}" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h2 class="elementor-heading-title elementor-size-default">None of us is as smart as all of us.</h2>		</div>
				</div>
					</div>
		</div>
				<div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-1a9e73b elementor-invisible" data-id="1a9e73b" data-element_type="column" data-settings="{&quot;animation&quot;:&quot;fadeInUp&quot;,&quot;_ob_bbad_is_stalker&quot;:&quot;no&quot;,&quot;_ob_teleporter_use&quot;:false,&quot;_ob_column_hoveranimator&quot;:&quot;no&quot;,&quot;_ob_column_has_pseudo&quot;:&quot;no&quot;}">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-7656828 ob-harakiri-inherit ob-has-background-overlay elementor-widget elementor-widget-text-editor" data-id="7656828" data-element_type="widget" data-settings="{&quot;_ob_harakiri_writing_mode&quot;:&quot;inherit&quot;,&quot;_ob_perspektive_use&quot;:&quot;no&quot;,&quot;_ob_poopart_use&quot;:&quot;yes&quot;,&quot;_ob_shadough_use&quot;:&quot;no&quot;,&quot;_ob_allow_hoveranimator&quot;:&quot;no&quot;,&quot;_ob_widget_stalker_use&quot;:&quot;no&quot;}" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
							<p>Venenatis tristique leo primis habitant montes adipiscing. Mus pretium hac lacus suspendisse finibus laoreet magna.</p>						</div>
				</div>
				<div class="elementor-element elementor-element-89fefe5 elementor-mobile-align-center ob-has-background-overlay elementor-widget elementor-widget-button" data-id="89fefe5" data-element_type="widget" data-settings="{&quot;_ob_butterbutton_use_it&quot;:&quot;no&quot;,&quot;_ob_perspektive_use&quot;:&quot;no&quot;,&quot;_ob_poopart_use&quot;:&quot;yes&quot;,&quot;_ob_shadough_use&quot;:&quot;no&quot;,&quot;_ob_allow_hoveranimator&quot;:&quot;no&quot;,&quot;_ob_widget_stalker_use&quot;:&quot;no&quot;}" data-widget_type="button.default">
				<div class="elementor-widget-container">
					<div class="elementor-button-wrapper">
			<a href="#" class="elementor-button-link elementor-button elementor-size-md" role="button">
						<span class="elementor-button-content-wrapper">
						<span class="elementor-button-text">Discover More</span>
		</span>
					</a>
		</div>
				</div>
				</div>
					</div>
		</div>
							</div>
		</section>
				<section class="ob-is-breaking-bad elementor-section elementor-top-section elementor-element elementor-element-8731ea9 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-invisible" data-id="8731ea9" data-element_type="section" data-settings="{&quot;animation&quot;:&quot;fadeInUp&quot;,&quot;_ob_bbad_use_it&quot;:&quot;yes&quot;,&quot;_ob_bbad_sssic_use&quot;:&quot;no&quot;,&quot;_ob_glider_is_slider&quot;:&quot;no&quot;}">
						<div class="elementor-container elementor-column-gap-default">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-0999797" data-id="0999797" data-element_type="column" data-settings="{&quot;_ob_bbad_is_stalker&quot;:&quot;no&quot;,&quot;_ob_teleporter_use&quot;:false,&quot;_ob_column_hoveranimator&quot;:&quot;no&quot;,&quot;_ob_column_has_pseudo&quot;:&quot;no&quot;}">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-6a76ab3 ob-harakiri-inherit ob-has-background-overlay elementor-widget elementor-widget-heading" data-id="6a76ab3" data-element_type="widget" data-settings="{&quot;_ob_harakiri_writing_mode&quot;:&quot;inherit&quot;,&quot;_ob_perspektive_use&quot;:&quot;no&quot;,&quot;_ob_poopart_use&quot;:&quot;yes&quot;,&quot;_ob_shadough_use&quot;:&quot;no&quot;,&quot;_ob_allow_hoveranimator&quot;:&quot;no&quot;,&quot;_ob_widget_stalker_use&quot;:&quot;no&quot;}" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h6 class="elementor-heading-title elementor-size-default">Leadership</h6>		</div>
				</div>
				<div class="elementor-element elementor-element-df383f8 ob-harakiri-inherit ob-has-background-overlay elementor-widget elementor-widget-heading" data-id="df383f8" data-element_type="widget" data-settings="{&quot;_ob_harakiri_writing_mode&quot;:&quot;inherit&quot;,&quot;_ob_perspektive_use&quot;:&quot;no&quot;,&quot;_ob_poopart_use&quot;:&quot;yes&quot;,&quot;_ob_shadough_use&quot;:&quot;no&quot;,&quot;_ob_allow_hoveranimator&quot;:&quot;no&quot;,&quot;_ob_widget_stalker_use&quot;:&quot;no&quot;}" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h2 class="elementor-heading-title elementor-size-default">Awesome Our Leader</h2>		</div>
				</div>
				<section class="ob-is-breaking-bad ob-bb-inner elementor-section elementor-inner-section elementor-element elementor-element-9b580e5 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="9b580e5" data-element_type="section" data-settings="{&quot;_ob_bbad_use_it&quot;:&quot;yes&quot;,&quot;_ob_bbad_sssic_use&quot;:&quot;no&quot;,&quot;_ob_glider_is_slider&quot;:&quot;no&quot;}">
						<div class="elementor-container elementor-column-gap-default">
					<div class="elementor-column elementor-col-25 elementor-inner-column elementor-element elementor-element-cd6cc11" data-id="cd6cc11" data-element_type="column" data-settings="{&quot;_ob_bbad_is_stalker&quot;:&quot;no&quot;,&quot;_ob_teleporter_use&quot;:false,&quot;_ob_column_hoveranimator&quot;:&quot;no&quot;,&quot;_ob_column_has_pseudo&quot;:&quot;no&quot;}">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-3b82275 elementor-cta--skin-cover elementor-cta--valign-bottom elementor-animated-content elementor-bg-transform elementor-bg-transform-zoom-in ob-has-background-overlay elementor-widget elementor-widget-call-to-action" data-id="3b82275" data-element_type="widget" data-settings="{&quot;_ob_perspektive_use&quot;:&quot;no&quot;,&quot;_ob_poopart_use&quot;:&quot;yes&quot;,&quot;_ob_shadough_use&quot;:&quot;no&quot;,&quot;_ob_allow_hoveranimator&quot;:&quot;no&quot;,&quot;_ob_widget_stalker_use&quot;:&quot;no&quot;}" data-widget_type="call-to-action.default">
				<div class="elementor-widget-container">
					<div  class="elementor-cta">
					<div class="elementor-cta__bg-wrapper">
				<div class="elementor-cta__bg elementor-bg" style="background-image: url(../../assets/eunoia/wp-content/uploads/sites/18/2021/03/man-in-cafe-e1616633881368.jpg);"></div>
				<div class="elementor-cta__bg-overlay"></div>
			</div>
							<div class="elementor-cta__content">
				
									<h4 class="elementor-cta__title elementor-cta__content-item elementor-content-item elementor-animated-item--fade-in">
						Rogelio C Jost					</h4>
				
									<div class="elementor-cta__description elementor-cta__content-item elementor-content-item elementor-animated-item--fade-in">
						Founder					</div>
				
							</div>
						</div>
				</div>
				</div>
					</div>
		</div>
				<div class="elementor-column elementor-col-25 elementor-inner-column elementor-element elementor-element-c53cb9d" data-id="c53cb9d" data-element_type="column" data-settings="{&quot;_ob_bbad_is_stalker&quot;:&quot;no&quot;,&quot;_ob_teleporter_use&quot;:false,&quot;_ob_column_hoveranimator&quot;:&quot;no&quot;,&quot;_ob_column_has_pseudo&quot;:&quot;no&quot;}">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-94d965d elementor-cta--skin-cover elementor-cta--valign-bottom elementor-animated-content elementor-bg-transform elementor-bg-transform-zoom-in ob-has-background-overlay elementor-widget elementor-widget-call-to-action" data-id="94d965d" data-element_type="widget" data-settings="{&quot;_ob_perspektive_use&quot;:&quot;no&quot;,&quot;_ob_poopart_use&quot;:&quot;yes&quot;,&quot;_ob_shadough_use&quot;:&quot;no&quot;,&quot;_ob_allow_hoveranimator&quot;:&quot;no&quot;,&quot;_ob_widget_stalker_use&quot;:&quot;no&quot;}" data-widget_type="call-to-action.default">
				<div class="elementor-widget-container">
					<div  class="elementor-cta">
					<div class="elementor-cta__bg-wrapper">
				<div class="elementor-cta__bg elementor-bg" style="background-image: url(../../assets/eunoia/wp-content/uploads/sites/18/2021/03/filipino-man-e1616633910732.jpg);"></div>
				<div class="elementor-cta__bg-overlay"></div>
			</div>
							<div class="elementor-cta__content">
				
									<h4 class="elementor-cta__title elementor-cta__content-item elementor-content-item elementor-animated-item--fade-in">
						Michael Picco					</h4>
				
									<div class="elementor-cta__description elementor-cta__content-item elementor-content-item elementor-animated-item--fade-in">
						Co-Founder					</div>
				
							</div>
						</div>
				</div>
				</div>
					</div>
		</div>
				<div class="elementor-column elementor-col-25 elementor-inner-column elementor-element elementor-element-ec5c765" data-id="ec5c765" data-element_type="column" data-settings="{&quot;_ob_bbad_is_stalker&quot;:&quot;no&quot;,&quot;_ob_teleporter_use&quot;:false,&quot;_ob_column_hoveranimator&quot;:&quot;no&quot;,&quot;_ob_column_has_pseudo&quot;:&quot;no&quot;}">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-d9cd32e elementor-cta--skin-cover elementor-cta--valign-bottom elementor-animated-content elementor-bg-transform elementor-bg-transform-zoom-in ob-has-background-overlay elementor-widget elementor-widget-call-to-action" data-id="d9cd32e" data-element_type="widget" data-settings="{&quot;_ob_perspektive_use&quot;:&quot;no&quot;,&quot;_ob_poopart_use&quot;:&quot;yes&quot;,&quot;_ob_shadough_use&quot;:&quot;no&quot;,&quot;_ob_allow_hoveranimator&quot;:&quot;no&quot;,&quot;_ob_widget_stalker_use&quot;:&quot;no&quot;}" data-widget_type="call-to-action.default">
				<div class="elementor-widget-container">
					<div  class="elementor-cta">
					<div class="elementor-cta__bg-wrapper">
				<div class="elementor-cta__bg elementor-bg" style="background-image: url(../../assets/eunoia/wp-content/uploads/sites/18/2021/03/confident-senior-man-e1616633939813.jpg);"></div>
				<div class="elementor-cta__bg-overlay"></div>
			</div>
							<div class="elementor-cta__content">
				
									<h4 class="elementor-cta__title elementor-cta__content-item elementor-content-item elementor-animated-item--fade-in">
						Joseph M Thaxton					</h4>
				
									<div class="elementor-cta__description elementor-cta__content-item elementor-content-item elementor-animated-item--fade-in">
						Web Developer					</div>
				
							</div>
						</div>
				</div>
				</div>
					</div>
		</div>
				<div class="elementor-column elementor-col-25 elementor-inner-column elementor-element elementor-element-c31f772" data-id="c31f772" data-element_type="column" data-settings="{&quot;_ob_bbad_is_stalker&quot;:&quot;no&quot;,&quot;_ob_teleporter_use&quot;:false,&quot;_ob_column_hoveranimator&quot;:&quot;no&quot;,&quot;_ob_column_has_pseudo&quot;:&quot;no&quot;}">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-c640c11 elementor-cta--skin-cover elementor-cta--valign-bottom elementor-animated-content elementor-bg-transform elementor-bg-transform-zoom-in ob-has-background-overlay elementor-widget elementor-widget-call-to-action" data-id="c640c11" data-element_type="widget" data-settings="{&quot;_ob_perspektive_use&quot;:&quot;no&quot;,&quot;_ob_poopart_use&quot;:&quot;yes&quot;,&quot;_ob_shadough_use&quot;:&quot;no&quot;,&quot;_ob_allow_hoveranimator&quot;:&quot;no&quot;,&quot;_ob_widget_stalker_use&quot;:&quot;no&quot;}" data-widget_type="call-to-action.default">
				<div class="elementor-widget-container">
					<div  class="elementor-cta">
					<div class="elementor-cta__bg-wrapper">
				<div class="elementor-cta__bg elementor-bg" style="background-image: url(../../assets/eunoia/wp-content/uploads/sites/18/2021/03/man-with-coffee-e1616633973302.jpg);"></div>
				<div class="elementor-cta__bg-overlay"></div>
			</div>
							<div class="elementor-cta__content">
				
									<h4 class="elementor-cta__title elementor-cta__content-item elementor-content-item elementor-animated-item--fade-in">
						Micheal F Beckwith					</h4>
				
									<div class="elementor-cta__description elementor-cta__content-item elementor-content-item elementor-animated-item--fade-in">
						SEO Expertise					</div>
				
							</div>
						</div>
				</div>
				</div>
					</div>
		</div>
							</div>
		</section>
				<section class="ob-is-breaking-bad ob-bb-inner elementor-section elementor-inner-section elementor-element elementor-element-01a1dd9 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="01a1dd9" data-element_type="section" data-settings="{&quot;_ob_bbad_use_it&quot;:&quot;yes&quot;,&quot;_ob_bbad_sssic_use&quot;:&quot;no&quot;,&quot;_ob_glider_is_slider&quot;:&quot;no&quot;}">
						<div class="elementor-container elementor-column-gap-default">
					<div class="elementor-column elementor-col-25 elementor-inner-column elementor-element elementor-element-2f96420" data-id="2f96420" data-element_type="column" data-settings="{&quot;_ob_bbad_is_stalker&quot;:&quot;no&quot;,&quot;_ob_teleporter_use&quot;:false,&quot;_ob_column_hoveranimator&quot;:&quot;no&quot;,&quot;_ob_column_has_pseudo&quot;:&quot;no&quot;}">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-a46abf1 elementor-cta--skin-cover elementor-cta--valign-bottom elementor-animated-content elementor-bg-transform elementor-bg-transform-zoom-in ob-has-background-overlay elementor-widget elementor-widget-call-to-action" data-id="a46abf1" data-element_type="widget" data-settings="{&quot;_ob_perspektive_use&quot;:&quot;no&quot;,&quot;_ob_poopart_use&quot;:&quot;yes&quot;,&quot;_ob_shadough_use&quot;:&quot;no&quot;,&quot;_ob_allow_hoveranimator&quot;:&quot;no&quot;,&quot;_ob_widget_stalker_use&quot;:&quot;no&quot;}" data-widget_type="call-to-action.default">
				<div class="elementor-widget-container">
					<div  class="elementor-cta">
					<div class="elementor-cta__bg-wrapper">
				<div class="elementor-cta__bg elementor-bg" style="background-image: url(../../assets/eunoia/wp-content/uploads/sites/18/2021/03/cute-smiling-girl-sitting-on-the-couch-with-a-magazine-e1616634093172.jpg);"></div>
				<div class="elementor-cta__bg-overlay"></div>
			</div>
							<div class="elementor-cta__content">
				
									<h4 class="elementor-cta__title elementor-cta__content-item elementor-content-item elementor-animated-item--fade-in">
						Denise A Davis					</h4>
				
									<div class="elementor-cta__description elementor-cta__content-item elementor-content-item elementor-animated-item--fade-in">
						UI/UX Designer					</div>
				
							</div>
						</div>
				</div>
				</div>
					</div>
		</div>
				<div class="elementor-column elementor-col-25 elementor-inner-column elementor-element elementor-element-053d571" data-id="053d571" data-element_type="column" data-settings="{&quot;_ob_bbad_is_stalker&quot;:&quot;no&quot;,&quot;_ob_teleporter_use&quot;:false,&quot;_ob_column_hoveranimator&quot;:&quot;no&quot;,&quot;_ob_column_has_pseudo&quot;:&quot;no&quot;}">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-d27462e elementor-cta--skin-cover elementor-cta--valign-bottom elementor-animated-content elementor-bg-transform elementor-bg-transform-zoom-in ob-has-background-overlay elementor-widget elementor-widget-call-to-action" data-id="d27462e" data-element_type="widget" data-settings="{&quot;_ob_perspektive_use&quot;:&quot;no&quot;,&quot;_ob_poopart_use&quot;:&quot;yes&quot;,&quot;_ob_shadough_use&quot;:&quot;no&quot;,&quot;_ob_allow_hoveranimator&quot;:&quot;no&quot;,&quot;_ob_widget_stalker_use&quot;:&quot;no&quot;}" data-widget_type="call-to-action.default">
				<div class="elementor-widget-container">
					<div  class="elementor-cta">
					<div class="elementor-cta__bg-wrapper">
				<div class="elementor-cta__bg elementor-bg" style="background-image: url(../../assets/eunoia/wp-content/uploads/sites/18/2021/03/pretty-smiling-girl-in-pullover-with-headphones-around-her-neck-e1616634059160.jpg);"></div>
				<div class="elementor-cta__bg-overlay"></div>
			</div>
							<div class="elementor-cta__content">
				
									<h4 class="elementor-cta__title elementor-cta__content-item elementor-content-item elementor-animated-item--fade-in">
						Enid D Butler					</h4>
				
									<div class="elementor-cta__description elementor-cta__content-item elementor-content-item elementor-animated-item--fade-in">
						Cloud Expertise					</div>
				
							</div>
						</div>
				</div>
				</div>
					</div>
		</div>
				<div class="elementor-column elementor-col-25 elementor-inner-column elementor-element elementor-element-78b7bd5" data-id="78b7bd5" data-element_type="column" data-settings="{&quot;_ob_bbad_is_stalker&quot;:&quot;no&quot;,&quot;_ob_teleporter_use&quot;:false,&quot;_ob_column_hoveranimator&quot;:&quot;no&quot;,&quot;_ob_column_has_pseudo&quot;:&quot;no&quot;}">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-6eb9b58 elementor-cta--skin-cover elementor-cta--valign-bottom elementor-animated-content elementor-bg-transform elementor-bg-transform-zoom-in ob-has-background-overlay elementor-widget elementor-widget-call-to-action" data-id="6eb9b58" data-element_type="widget" data-settings="{&quot;_ob_perspektive_use&quot;:&quot;no&quot;,&quot;_ob_poopart_use&quot;:&quot;yes&quot;,&quot;_ob_shadough_use&quot;:&quot;no&quot;,&quot;_ob_allow_hoveranimator&quot;:&quot;no&quot;,&quot;_ob_widget_stalker_use&quot;:&quot;no&quot;}" data-widget_type="call-to-action.default">
				<div class="elementor-widget-container">
					<div  class="elementor-cta">
					<div class="elementor-cta__bg-wrapper">
				<div class="elementor-cta__bg elementor-bg" style="background-image: url(../../assets/eunoia/wp-content/uploads/sites/18/2021/03/cheerful-indian-man-e1616634030182.jpg);"></div>
				<div class="elementor-cta__bg-overlay"></div>
			</div>
							<div class="elementor-cta__content">
				
									<h4 class="elementor-cta__title elementor-cta__content-item elementor-content-item elementor-animated-item--fade-in">
						Raj Malhotra					</h4>
				
									<div class="elementor-cta__description elementor-cta__content-item elementor-content-item elementor-animated-item--fade-in">
						Web Developer					</div>
				
							</div>
						</div>
				</div>
				</div>
					</div>
		</div>
				<div class="elementor-column elementor-col-25 elementor-inner-column elementor-element elementor-element-e2c2dbe" data-id="e2c2dbe" data-element_type="column" data-settings="{&quot;_ob_bbad_is_stalker&quot;:&quot;no&quot;,&quot;_ob_teleporter_use&quot;:false,&quot;_ob_column_hoveranimator&quot;:&quot;no&quot;,&quot;_ob_column_has_pseudo&quot;:&quot;no&quot;}">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-3fa3cd6 elementor-cta--skin-cover elementor-cta--valign-bottom elementor-animated-content elementor-bg-transform elementor-bg-transform-zoom-in ob-has-background-overlay elementor-widget elementor-widget-call-to-action" data-id="3fa3cd6" data-element_type="widget" data-settings="{&quot;_ob_perspektive_use&quot;:&quot;no&quot;,&quot;_ob_poopart_use&quot;:&quot;yes&quot;,&quot;_ob_shadough_use&quot;:&quot;no&quot;,&quot;_ob_allow_hoveranimator&quot;:&quot;no&quot;,&quot;_ob_widget_stalker_use&quot;:&quot;no&quot;}" data-widget_type="call-to-action.default">
				<div class="elementor-widget-container">
					<div  class="elementor-cta">
					<div class="elementor-cta__bg-wrapper">
				<div class="elementor-cta__bg elementor-bg" style="background-image: url(../../assets/eunoia/wp-content/uploads/sites/18/2021/03/pretty-smiling-girl-with-dark-hair-in-white-shirt-and-eyeglasses-e1616634136775.jpg);"></div>
				<div class="elementor-cta__bg-overlay"></div>
			</div>
							<div class="elementor-cta__content">
				
									<h4 class="elementor-cta__title elementor-cta__content-item elementor-content-item elementor-animated-item--fade-in">
						Natalie Jordie					</h4>
				
									<div class="elementor-cta__description elementor-cta__content-item elementor-content-item elementor-animated-item--fade-in">
						Accountant					</div>
				
							</div>
						</div>
				</div>
				</div>
					</div>
		</div>
							</div>
		</section>
					</div>
		</div>
							</div>
		</section>
				<section class="ob-is-breaking-bad elementor-section elementor-top-section elementor-element elementor-element-d926424 elementor-section-content-middle elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="d926424" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;_ob_bbad_use_it&quot;:&quot;yes&quot;,&quot;_ob_bbad_sssic_use&quot;:&quot;no&quot;,&quot;_ob_glider_is_slider&quot;:&quot;no&quot;}">
							<div class="elementor-background-overlay"></div>
							<div class="elementor-container elementor-column-gap-default">
					<div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-4c511eb elementor-invisible" data-id="4c511eb" data-element_type="column" data-settings="{&quot;animation&quot;:&quot;fadeInLeft&quot;,&quot;_ob_bbad_is_stalker&quot;:&quot;no&quot;,&quot;_ob_teleporter_use&quot;:false,&quot;_ob_column_hoveranimator&quot;:&quot;no&quot;,&quot;_ob_column_has_pseudo&quot;:&quot;no&quot;}">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-6839436 ob-harakiri-inherit ob-has-background-overlay elementor-widget elementor-widget-heading" data-id="6839436" data-element_type="widget" data-settings="{&quot;_ob_harakiri_writing_mode&quot;:&quot;inherit&quot;,&quot;_ob_perspektive_use&quot;:&quot;no&quot;,&quot;_ob_poopart_use&quot;:&quot;yes&quot;,&quot;_ob_shadough_use&quot;:&quot;no&quot;,&quot;_ob_allow_hoveranimator&quot;:&quot;no&quot;,&quot;_ob_widget_stalker_use&quot;:&quot;no&quot;}" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h6 class="elementor-heading-title elementor-size-default">Professional Team</h6>		</div>
				</div>
				<div class="elementor-element elementor-element-8e5a095 ob-harakiri-inherit ob-has-background-overlay elementor-widget elementor-widget-heading" data-id="8e5a095" data-element_type="widget" data-settings="{&quot;_ob_harakiri_writing_mode&quot;:&quot;inherit&quot;,&quot;_ob_perspektive_use&quot;:&quot;no&quot;,&quot;_ob_poopart_use&quot;:&quot;yes&quot;,&quot;_ob_shadough_use&quot;:&quot;no&quot;,&quot;_ob_allow_hoveranimator&quot;:&quot;no&quot;,&quot;_ob_widget_stalker_use&quot;:&quot;no&quot;}" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h2 class="elementor-heading-title elementor-size-default">Why We Different</h2>		</div>
				</div>
				<div class="elementor-element elementor-element-aae9289 ob-harakiri-inherit ob-has-background-overlay elementor-widget elementor-widget-text-editor" data-id="aae9289" data-element_type="widget" data-settings="{&quot;_ob_harakiri_writing_mode&quot;:&quot;inherit&quot;,&quot;_ob_perspektive_use&quot;:&quot;no&quot;,&quot;_ob_poopart_use&quot;:&quot;yes&quot;,&quot;_ob_shadough_use&quot;:&quot;no&quot;,&quot;_ob_allow_hoveranimator&quot;:&quot;no&quot;,&quot;_ob_widget_stalker_use&quot;:&quot;no&quot;}" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.</p>						</div>
				</div>
				<div class="elementor-element elementor-element-8470bbe ob-harakiri-inherit ob-has-background-overlay elementor-widget elementor-widget-heading" data-id="8470bbe" data-element_type="widget" data-settings="{&quot;_ob_harakiri_writing_mode&quot;:&quot;inherit&quot;,&quot;_ob_perspektive_use&quot;:&quot;no&quot;,&quot;_ob_poopart_use&quot;:&quot;yes&quot;,&quot;_ob_shadough_use&quot;:&quot;no&quot;,&quot;_ob_allow_hoveranimator&quot;:&quot;no&quot;,&quot;_ob_widget_stalker_use&quot;:&quot;no&quot;}" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h4 class="elementor-heading-title elementor-size-default">Abilities and Skills</h4>		</div>
				</div>
				<div class="elementor-element elementor-element-977a2f9 ob-has-background-overlay elementor-widget elementor-widget-elementskit-progressbar" data-id="977a2f9" data-element_type="widget" data-settings="{&quot;_ob_perspektive_use&quot;:&quot;no&quot;,&quot;_ob_poopart_use&quot;:&quot;yes&quot;,&quot;_ob_shadough_use&quot;:&quot;no&quot;,&quot;_ob_allow_hoveranimator&quot;:&quot;no&quot;,&quot;_ob_widget_stalker_use&quot;:&quot;no&quot;}" data-widget_type="elementskit-progressbar.default">
				<div class="elementor-widget-container">
			<div class="ekit-wid-con" >        <div class="waypoint-tigger">
            <div class="skillbar-group tooltip-style2" data-progress-bar>
                <div class="single-skill-bar">
                                            <div class="skill-bar-content">
                            <span class="skill-title">Marketing</span>
                        </div><!-- .skill-bar-content END -->
                        <div class="skill-bar">
                            <div class="skill-track">
                                
                                <div class="number-percentage-wraper">
                                    <span class="number-percentage" data-value="90" data-animation-duration=500>0</span>%

                                                                    </div>
                            </div>
                        </div><!-- .skill-bar END -->
                                    </div><!-- .single-skill-bar END -->
            </div><!-- .skillbar-group END -->
        </div>
        </div>		</div>
				</div>
				<div class="elementor-element elementor-element-8b79cd6 ob-has-background-overlay elementor-widget elementor-widget-elementskit-progressbar" data-id="8b79cd6" data-element_type="widget" data-settings="{&quot;_ob_perspektive_use&quot;:&quot;no&quot;,&quot;_ob_poopart_use&quot;:&quot;yes&quot;,&quot;_ob_shadough_use&quot;:&quot;no&quot;,&quot;_ob_allow_hoveranimator&quot;:&quot;no&quot;,&quot;_ob_widget_stalker_use&quot;:&quot;no&quot;}" data-widget_type="elementskit-progressbar.default">
				<div class="elementor-widget-container">
			<div class="ekit-wid-con" >        <div class="waypoint-tigger">
            <div class="skillbar-group tooltip-style2" data-progress-bar>
                <div class="single-skill-bar">
                                            <div class="skill-bar-content">
                            <span class="skill-title">Creative</span>
                        </div><!-- .skill-bar-content END -->
                        <div class="skill-bar">
                            <div class="skill-track">
                                
                                <div class="number-percentage-wraper">
                                    <span class="number-percentage" data-value="95" data-animation-duration=500>0</span>%

                                                                    </div>
                            </div>
                        </div><!-- .skill-bar END -->
                                    </div><!-- .single-skill-bar END -->
            </div><!-- .skillbar-group END -->
        </div>
        </div>		</div>
				</div>
				<div class="elementor-element elementor-element-33b4016 ob-has-background-overlay elementor-widget elementor-widget-elementskit-progressbar" data-id="33b4016" data-element_type="widget" data-settings="{&quot;_ob_perspektive_use&quot;:&quot;no&quot;,&quot;_ob_poopart_use&quot;:&quot;yes&quot;,&quot;_ob_shadough_use&quot;:&quot;no&quot;,&quot;_ob_allow_hoveranimator&quot;:&quot;no&quot;,&quot;_ob_widget_stalker_use&quot;:&quot;no&quot;}" data-widget_type="elementskit-progressbar.default">
				<div class="elementor-widget-container">
			<div class="ekit-wid-con" >        <div class="waypoint-tigger">
            <div class="skillbar-group tooltip-style2" data-progress-bar>
                <div class="single-skill-bar">
                                            <div class="skill-bar-content">
                            <span class="skill-title">Teamwork</span>
                        </div><!-- .skill-bar-content END -->
                        <div class="skill-bar">
                            <div class="skill-track">
                                
                                <div class="number-percentage-wraper">
                                    <span class="number-percentage" data-value="87" data-animation-duration=500>0</span>%

                                                                    </div>
                            </div>
                        </div><!-- .skill-bar END -->
                                    </div><!-- .single-skill-bar END -->
            </div><!-- .skillbar-group END -->
        </div>
        </div>		</div>
				</div>
				<div class="elementor-element elementor-element-08abd79 ob-has-background-overlay elementor-widget elementor-widget-elementskit-progressbar" data-id="08abd79" data-element_type="widget" data-settings="{&quot;_ob_perspektive_use&quot;:&quot;no&quot;,&quot;_ob_poopart_use&quot;:&quot;yes&quot;,&quot;_ob_shadough_use&quot;:&quot;no&quot;,&quot;_ob_allow_hoveranimator&quot;:&quot;no&quot;,&quot;_ob_widget_stalker_use&quot;:&quot;no&quot;}" data-widget_type="elementskit-progressbar.default">
				<div class="elementor-widget-container">
			<div class="ekit-wid-con" >        <div class="waypoint-tigger">
            <div class="skillbar-group tooltip-style2" data-progress-bar>
                <div class="single-skill-bar">
                                            <div class="skill-bar-content">
                            <span class="skill-title">Technical Skills</span>
                        </div><!-- .skill-bar-content END -->
                        <div class="skill-bar">
                            <div class="skill-track">
                                
                                <div class="number-percentage-wraper">
                                    <span class="number-percentage" data-value="97" data-animation-duration=500>0</span>%

                                                                    </div>
                            </div>
                        </div><!-- .skill-bar END -->
                                    </div><!-- .single-skill-bar END -->
            </div><!-- .skillbar-group END -->
        </div>
        </div>		</div>
				</div>
					</div>
		</div>
				<div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-5068580" data-id="5068580" data-element_type="column" data-settings="{&quot;_ob_bbad_is_stalker&quot;:&quot;no&quot;,&quot;_ob_teleporter_use&quot;:false,&quot;_ob_column_hoveranimator&quot;:&quot;no&quot;,&quot;_ob_column_has_pseudo&quot;:&quot;no&quot;}">
			<div class="elementor-widget-wrap elementor-element-populated">
								<section class="ob-is-breaking-bad ob-bb-inner elementor-section elementor-inner-section elementor-element elementor-element-36476e2 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="36476e2" data-element_type="section" data-settings="{&quot;_ob_bbad_use_it&quot;:&quot;yes&quot;,&quot;_ob_bbad_sssic_use&quot;:&quot;no&quot;,&quot;_ob_glider_is_slider&quot;:&quot;no&quot;}">
						<div class="elementor-container elementor-column-gap-default">
					<div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-d3d0d09" data-id="d3d0d09" data-element_type="column" data-settings="{&quot;_ob_bbad_is_stalker&quot;:&quot;no&quot;,&quot;_ob_teleporter_use&quot;:false,&quot;_ob_column_hoveranimator&quot;:&quot;no&quot;,&quot;_ob_column_has_pseudo&quot;:&quot;no&quot;}">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-08db39e ekit-equal-height-disable elementor-invisible ob-has-background-overlay elementor-widget elementor-widget-elementskit-icon-box" data-id="08db39e" data-element_type="widget" data-settings="{&quot;_animation&quot;:&quot;fadeInLeft&quot;,&quot;_ob_perspektive_use&quot;:&quot;no&quot;,&quot;_ob_poopart_use&quot;:&quot;yes&quot;,&quot;_ob_shadough_use&quot;:&quot;no&quot;,&quot;_ob_allow_hoveranimator&quot;:&quot;no&quot;,&quot;_ob_widget_stalker_use&quot;:&quot;no&quot;}" data-widget_type="elementskit-icon-box.default">
				<div class="elementor-widget-container">
			<div class="ekit-wid-con" >        <!-- link opening -->
                <!-- end link opening -->

        <div class="elementskit-infobox text-left text-left icon-top-align elementor-animation-   ">
                    <div class="elementskit-box-header elementor-animation-">
                <div class="elementskit-info-box-icon  ">
                    <i aria-hidden="true" class="elementkit-infobox-icon icon icon-star"></i>
                </div>
          </div>
                        <div class="box-body">
                            <h3 class="elementskit-info-box-title">
                    visioners                </h3>
                        		  Vivamus posuere suscipit nulla maecenas et dapibus eros diam nec consequat aptent                                </div>
        
        
                </div>
        </div>		</div>
				</div>
				<div class="elementor-element elementor-element-8c247c2 ekit-equal-height-disable elementor-invisible ob-has-background-overlay elementor-widget elementor-widget-elementskit-icon-box" data-id="8c247c2" data-element_type="widget" data-settings="{&quot;_animation&quot;:&quot;fadeInUp&quot;,&quot;_ob_perspektive_use&quot;:&quot;no&quot;,&quot;_ob_poopart_use&quot;:&quot;yes&quot;,&quot;_ob_shadough_use&quot;:&quot;no&quot;,&quot;_ob_allow_hoveranimator&quot;:&quot;no&quot;,&quot;_ob_widget_stalker_use&quot;:&quot;no&quot;}" data-widget_type="elementskit-icon-box.default">
				<div class="elementor-widget-container">
			<div class="ekit-wid-con" >        <!-- link opening -->
                <!-- end link opening -->

        <div class="elementskit-infobox text-left text-left icon-top-align elementor-animation-   ">
                    <div class="elementskit-box-header elementor-animation-">
                <div class="elementskit-info-box-icon  ">
                    <i aria-hidden="true" class="elementkit-infobox-icon icon icon-flower"></i>
                </div>
          </div>
                        <div class="box-body">
                            <h3 class="elementskit-info-box-title">
                    Reliable                </h3>
                        		  Vivamus posuere suscipit nulla maecenas et dapibus eros diam nec consequat aptent                                </div>
        
        
                </div>
        </div>		</div>
				</div>
					</div>
		</div>
				<div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-bf0f82b" data-id="bf0f82b" data-element_type="column" data-settings="{&quot;_ob_bbad_is_stalker&quot;:&quot;no&quot;,&quot;_ob_teleporter_use&quot;:false,&quot;_ob_column_hoveranimator&quot;:&quot;no&quot;,&quot;_ob_column_has_pseudo&quot;:&quot;no&quot;}">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-8d92e64 ekit-equal-height-disable elementor-invisible ob-has-background-overlay elementor-widget elementor-widget-elementskit-icon-box" data-id="8d92e64" data-element_type="widget" data-settings="{&quot;_animation&quot;:&quot;fadeInDown&quot;,&quot;_ob_perspektive_use&quot;:&quot;no&quot;,&quot;_ob_poopart_use&quot;:&quot;yes&quot;,&quot;_ob_shadough_use&quot;:&quot;no&quot;,&quot;_ob_allow_hoveranimator&quot;:&quot;no&quot;,&quot;_ob_widget_stalker_use&quot;:&quot;no&quot;}" data-widget_type="elementskit-icon-box.default">
				<div class="elementor-widget-container">
			<div class="ekit-wid-con" >        <!-- link opening -->
                <!-- end link opening -->

        <div class="elementskit-infobox text-left text-left icon-top-align elementor-animation-   ">
                    <div class="elementskit-box-header elementor-animation-">
                <div class="elementskit-info-box-icon  ">
                    <i aria-hidden="true" class="elementkit-infobox-icon icon icon-idea_generate"></i>
                </div>
          </div>
                        <div class="box-body">
                            <h3 class="elementskit-info-box-title">
                    Creative                </h3>
                        		  Vivamus posuere suscipit nulla maecenas et dapibus eros diam nec consequat aptent                                </div>
        
        
                </div>
        </div>		</div>
				</div>
				<div class="elementor-element elementor-element-2abad6d ekit-equal-height-disable elementor-invisible ob-has-background-overlay elementor-widget elementor-widget-elementskit-icon-box" data-id="2abad6d" data-element_type="widget" data-settings="{&quot;_animation&quot;:&quot;fadeInRight&quot;,&quot;_ob_perspektive_use&quot;:&quot;no&quot;,&quot;_ob_poopart_use&quot;:&quot;yes&quot;,&quot;_ob_shadough_use&quot;:&quot;no&quot;,&quot;_ob_allow_hoveranimator&quot;:&quot;no&quot;,&quot;_ob_widget_stalker_use&quot;:&quot;no&quot;}" data-widget_type="elementskit-icon-box.default">
				<div class="elementor-widget-container">
			<div class="ekit-wid-con" >        <!-- link opening -->
                <!-- end link opening -->

        <div class="elementskit-infobox text-left text-left icon-top-align elementor-animation-   ">
                    <div class="elementskit-box-header elementor-animation-">
                <div class="elementskit-info-box-icon  ">
                    <i aria-hidden="true" class="elementkit-infobox-icon icon icon-trophy"></i>
                </div>
          </div>
                        <div class="box-body">
                            <h3 class="elementskit-info-box-title">
                    Prestigious                </h3>
                        		  Vivamus posuere suscipit nulla maecenas et dapibus eros diam nec consequat aptent                                </div>
        
        
                </div>
        </div>		</div>
				</div>
					</div>
		</div>
							</div>
		</section>
					</div>
		</div>
							</div>
		</section>
				<section class="ob-is-breaking-bad elementor-section elementor-top-section elementor-element elementor-element-d64d0d5 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="d64d0d5" data-element_type="section" data-settings="{&quot;_ob_bbad_use_it&quot;:&quot;yes&quot;,&quot;_ob_bbad_sssic_use&quot;:&quot;no&quot;,&quot;_ob_glider_is_slider&quot;:&quot;no&quot;}">
						<div class="elementor-container elementor-column-gap-default">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-e2788a9" data-id="e2788a9" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;gradient&quot;,&quot;_ob_bbad_is_stalker&quot;:&quot;no&quot;,&quot;_ob_teleporter_use&quot;:false,&quot;_ob_column_hoveranimator&quot;:&quot;no&quot;,&quot;_ob_column_has_pseudo&quot;:&quot;no&quot;}">
			<div class="elementor-widget-wrap elementor-element-populated">
					<div class="elementor-background-overlay"></div>
								<div class="elementor-element elementor-element-7d9a649 ob-harakiri-inherit ob-has-background-overlay elementor-widget elementor-widget-heading" data-id="7d9a649" data-element_type="widget" data-settings="{&quot;_ob_harakiri_writing_mode&quot;:&quot;inherit&quot;,&quot;_ob_perspektive_use&quot;:&quot;no&quot;,&quot;_ob_poopart_use&quot;:&quot;yes&quot;,&quot;_ob_shadough_use&quot;:&quot;no&quot;,&quot;_ob_allow_hoveranimator&quot;:&quot;no&quot;,&quot;_ob_widget_stalker_use&quot;:&quot;no&quot;}" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h2 class="elementor-heading-title elementor-size-default">Interested in Join Our Team?</h2>		</div>
				</div>
				<div class="elementor-element elementor-element-d413435 ob-harakiri-inherit ob-has-background-overlay elementor-widget elementor-widget-heading" data-id="d413435" data-element_type="widget" data-settings="{&quot;_ob_harakiri_writing_mode&quot;:&quot;inherit&quot;,&quot;_ob_perspektive_use&quot;:&quot;no&quot;,&quot;_ob_poopart_use&quot;:&quot;yes&quot;,&quot;_ob_shadough_use&quot;:&quot;no&quot;,&quot;_ob_allow_hoveranimator&quot;:&quot;no&quot;,&quot;_ob_widget_stalker_use&quot;:&quot;no&quot;}" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h4 class="elementor-heading-title elementor-size-default">Let's Talk About Your Passion with us.</h4>		</div>
				</div>
				<div class="elementor-element elementor-element-006fffc elementor-align-center ob-has-background-overlay elementor-widget elementor-widget-button" data-id="006fffc" data-element_type="widget" data-settings="{&quot;_ob_butterbutton_use_it&quot;:&quot;no&quot;,&quot;_ob_perspektive_use&quot;:&quot;no&quot;,&quot;_ob_poopart_use&quot;:&quot;yes&quot;,&quot;_ob_shadough_use&quot;:&quot;no&quot;,&quot;_ob_allow_hoveranimator&quot;:&quot;no&quot;,&quot;_ob_widget_stalker_use&quot;:&quot;no&quot;}" data-widget_type="button.default">
				<div class="elementor-widget-container">
					<div class="elementor-button-wrapper">
			<a href="#" class="elementor-button-link elementor-button elementor-size-md" role="button">
						<span class="elementor-button-content-wrapper">
							<span class="elementor-button-icon elementor-align-icon-right">
				<i aria-hidden="true" class="fas fa-chevron-right"></i>			</span>
						<span class="elementor-button-text">Join Our Team</span>
		</span>
					</a>
		</div>
				</div>
				</div>
				<div class="elementor-element elementor-element-d144f70 elementor-widget__width-auto elementor-absolute elementor-invisible ob-has-background-overlay elementor-widget elementor-widget-image" data-id="d144f70" data-element_type="widget" data-settings="{&quot;_animation&quot;:&quot;zoomIn&quot;,&quot;_position&quot;:&quot;absolute&quot;,&quot;_ob_photomorph_use&quot;:&quot;no&quot;,&quot;_ob_perspektive_use&quot;:&quot;no&quot;,&quot;_ob_poopart_use&quot;:&quot;yes&quot;,&quot;_ob_shadough_use&quot;:&quot;no&quot;,&quot;_ob_allow_hoveranimator&quot;:&quot;no&quot;,&quot;_ob_widget_stalker_use&quot;:&quot;no&quot;}" data-widget_type="image.default">
				<div class="elementor-widget-container">
															<img src="../../assets/eunoia/wp-content/uploads/sites/18/elementor/thumbs/rounded_1-p4okvmyebdp6oy613nig2qnu8cw17f6tcn50pkzu6o.png" title="rounded_1" alt="rounded_1" />															</div>
				</div>
				<div class="elementor-element elementor-element-be93efc elementor-widget__width-auto elementor-absolute elementor-invisible ob-has-background-overlay elementor-widget elementor-widget-image" data-id="be93efc" data-element_type="widget" data-settings="{&quot;_animation&quot;:&quot;zoomIn&quot;,&quot;_position&quot;:&quot;absolute&quot;,&quot;_ob_photomorph_use&quot;:&quot;no&quot;,&quot;_ob_perspektive_use&quot;:&quot;no&quot;,&quot;_ob_poopart_use&quot;:&quot;yes&quot;,&quot;_ob_shadough_use&quot;:&quot;no&quot;,&quot;_ob_allow_hoveranimator&quot;:&quot;no&quot;,&quot;_ob_widget_stalker_use&quot;:&quot;no&quot;}" data-widget_type="image.default">
				<div class="elementor-widget-container">
															<img src="../../assets/eunoia/wp-content/uploads/sites/18/elementor/thumbs/rounded_1-p4okvmye4svt0qjm386n1e7l4u0x3ji4uw9x3behx6.png" title="rounded_1" alt="rounded_1" />															</div>
				</div>
				<div class="elementor-element elementor-element-07f918a elementor-widget__width-auto elementor-absolute elementor-invisible ob-has-background-overlay elementor-widget elementor-widget-image" data-id="07f918a" data-element_type="widget" data-settings="{&quot;_animation&quot;:&quot;zoomIn&quot;,&quot;_position&quot;:&quot;absolute&quot;,&quot;_ob_photomorph_use&quot;:&quot;no&quot;,&quot;_ob_perspektive_use&quot;:&quot;no&quot;,&quot;_ob_poopart_use&quot;:&quot;yes&quot;,&quot;_ob_shadough_use&quot;:&quot;no&quot;,&quot;_ob_allow_hoveranimator&quot;:&quot;no&quot;,&quot;_ob_widget_stalker_use&quot;:&quot;no&quot;}" data-widget_type="image.default">
				<div class="elementor-widget-container">
															<img src="../../assets/eunoia/wp-content/uploads/sites/18/elementor/thumbs/rounded_1-p4okvmye4svt0qjm386n1e7l4u0x3ji4uw9x3behx6.png" title="rounded_1" alt="rounded_1" />															</div>
				</div>
				<div class="elementor-element elementor-element-7bb4698 elementor-widget__width-auto elementor-absolute elementor-invisible ob-has-background-overlay elementor-widget elementor-widget-image" data-id="7bb4698" data-element_type="widget" data-settings="{&quot;_animation&quot;:&quot;zoomIn&quot;,&quot;_position&quot;:&quot;absolute&quot;,&quot;_ob_photomorph_use&quot;:&quot;no&quot;,&quot;_ob_perspektive_use&quot;:&quot;no&quot;,&quot;_ob_poopart_use&quot;:&quot;yes&quot;,&quot;_ob_shadough_use&quot;:&quot;no&quot;,&quot;_ob_allow_hoveranimator&quot;:&quot;no&quot;,&quot;_ob_widget_stalker_use&quot;:&quot;no&quot;}" data-widget_type="image.default">
				<div class="elementor-widget-container">
															<img src="../../assets/eunoia/wp-content/uploads/sites/18/elementor/thumbs/rounded_1-p4okvmyeqq9qlfyc4n9ztvprgkwmsh4ei1tl5jdmsu.png" title="rounded_1" alt="rounded_1" />															</div>
				</div>
					</div>
		</div>
							</div>
		</section>
							</div>
				
		<app-footer></app-footer>

</body>